<div class="post-preview">
    <a href="post.html">
      <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <h2 class="post-title">
            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
        </h2>
    </a>
    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
</div>
