# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/log/*.log

*.rbc
capybara-*.html
.rspec
/tmp
/public/system
/public/uploads
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/secrets.yml
config/database.yml
.project
.idea/*
*~
~*
.~*
#/bin
dump.rdb
## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore application configuration
/config/application.yml

# ignore mac desktop service files
.DS_Store
