<div class="banner-base orange-banner">
  <div class="row">
    <div class="col-xs-1">
      <i class="fa fa-users"></i>
    </div>
    <div class="col-xs-8">
      <div class="banner-info">
        <h3>¿QUÉRES SER COLABORADOR / FACILITADOR / EXPOSITOR?</h3>
        <p>Si te interesa lo que hacemos podés poner en contacto con nosotros</p>
      </div>
    </div>
    <div class="col-xs-2">
      <%= link_to "Formulario", '#', class: 'btn btn-default base-btn white'%>
    </div>

  </div>
</div>