<div class="concepts-alliances">
  <div class="row">
    <div class="section-header">
      <h4>ALIADOS</h4>
      <p>Estas son nuestros aliados y colaboradores</p>
      <%= image_tag('connector.svg', height: "80px", width: "50px") %>
    </div>
  </div>
  <div class="row alliances">
    <div class="alliance col-xs-3">
      Aliado 1
    </div>
    <div class="alliance col-xs-3">
      Aliado 2
    </div>
    <div class="alliance col-xs-3">
      Aliado 3
    </div>
    <div class="alliance col-xs-3">
      Aliado 4
    </div>
  </div>
</div>
