<div class="parallex parallex-white">
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag('concepts-preview-logo.png', class: 'img-responsive') %>
      <div class="info-subtitle">
        Descripción Concepts
      </div>
      <div class="info-body-text">
        Somos un equipo colaborativo con iniciativas que impulsan y motivan el emprendimiento e innovación en Costa Rica.
        Un proyecto de la Asociación para la Innovación y Desarrollo del Conocimiento.
      </div>
    </div>
    <div class="col-sm-6">
      <%= image_tag('aideco-preview-logo.png', class: 'img-responsive') %>
      <div class="info-subtitle">
        Descripción Aideco
      </div>
      <div class="info-body-text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
      </div>
    </div>
  </div>
</div>
