 <section class="module parallax parallax-1">
        <div class="container">
          <h1>CONÓZCANOS</h1>
          <a href="#history" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
        </div>
      </section>
      
<section id="history" class="module content">
	<div class="container">
		<h1>Historia</h1>
		<p>
 			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper eget nunc sed faucibus. Cras elit metus, pulvinar at mi sed, maximus ullamcorper ante. Nam sed enim tortor. Quisque pellentesque felis tristique, condimentum quam et, sollicitudin risus. Quisque aliquet lectus id fringilla ultricies. Aenean eget hendrerit velit. Nullam a ex quis ex dictum ullamcorper eu sit amet felis. Etiam quis consectetur erat, in consectetur sapien. In efficitur finibus mi, sed mollis dolor venenatis vitae. Aliquam erat volutpat. Cras purus dui, dapibus vel sodales nec, blandit vitae eros. In leo elit, consectetur non nisl eget, sollicitudin rhoncus dolor. 
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
		</p>
	</div>


</section>

<div class="container">
  		<h1>MIRA NUESTRO VIDEO INTRODUCTORIO</h1>
  		<h5>Aliquam erat volutpat. Cras purus dui</h5>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bIMNLk2eJlc" frameborder="0" allowfullscreen></iframe>
