<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Cover</h3>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="#">INICIO</a></li>
        <li><a href="#">PROYECTOS</a></li>
        <li><%= link_to "CONÓZCANOS",   about_path %></li>
        <li><a href="#">BLOG</a></li>
      </ul>
    </nav>
  </div>
</div>
