<div class="social-media-management">
  <div class="social-media-text">
    <span> <i>Seguínos en redes sociales</i> </span>
  </div>
  <div class="icon-container">
    <div class="social-media-icon">
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  <div class="icon-container">
    <div class="social-media-icon">
      <i class="fa fa-twitter"></i>
    </div>
  </div>
  <div class="icon-container">
    <div class="social-media-icon">
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  <div class="icon-container">
    <div class="social-media-icon">
      <i class="fa fa-twitter"></i>
    </div>
  </div>
</div>
